<div class='card-deck'>
    <% merchant_set.each do |merchant| %>
    <div class="card border-dark" style="width: 18rem;">
        <div class='image-container'>
            <%= image_tag(merchant.avatar, class: "card-img-top profile") %>
        </div>
        <div class="card-body">
            <h5 class="card-title"><strong>Merchant: <%= link_to "#{merchant.name}", merchant_path(merchant.id) %></strong></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Name: </strong><%= merchant.name %></li>
            <li class="list-group-item"><strong>Products Sold: </strong><%= merchant.products.count %></li>
            <li class="list-group-item"><strong>Average Review: </strong><%= merchant.avgs_rating %></li>
        </ul>
        <div class="card-body bg-secondary">
            <small class="text-light">Joined <%= merchant.created_at.strftime("%B %d, %Y") %></small>
        </div>
    </div>
    <% end %>
</div>