<div class='card-deck'>
    <% order_set.each do |order| %>
      <div class="card">
        <div class="card-body">
          <p class='card-text'>Order: <%= link_to order.id, order_path(order.id) %></p>
          <p class='card-text'>Order Date: <%= order.created_at.strftime("%B %d, %Y") %></p>
          <p class='card-text'>Order Status: <%= order.status.capitalize %></p>
          <p class='card-text'>Shipping Status: <%= order.order_items[0].is_shipped ? "Shipped" : "Not Shipped"%></p>
          <p class='card-text'>Item List:</p>

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
            <% order.order_items.each do |order_item| %>
              <tr>
                <td><%= link_to order_item.product.name, product_path(order_item.product.id) %></td>
                <td><%= "#{order_item.quantity}" %></td>
                <td><%= sprintf("$%2.2f", order_item.product.price * order_item.quantity) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>

          <p class='card-text'>Total Revenue: <%= sprintf("$%2.2f", OrderItem.order_revenue(order.id, @merchant.id)) %></p>

          <% if !order.order_items[0].is_shipped && order.status == "paid" %>
            <%= button_to "Ship Products", ship_path(order.id), method: :patch, class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    <% end %>

    
</div>

<%# Each order item sold by me with a quantity and line-item subtotal
A link to the item description page
DateTime the order was placed
Link to transition the order item to marked as shipped
The current status of the order ("pending", "paid", "complete", "cancelled") %>