<h3>Order Status: <%= @order.status %></h3>

<div class='card-deck'>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title subtitle3">Customer Details:</h5>
        
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Customer Name: </strong><%= @order.buyer_name %></li>
      <li class="list-group-item"><strong>Email Address: </strong><%= @order.email_address %></li>
      <li class="list-group-item"><strong>Mail Address:</strong><%= @order.mail_address %></li>
      <li class="list-group-item"><strong>Last Four Digits of Credit Card: </strong><%= @order.cc_num %></li>
      <li class="list-group-item"><strong>Credit Card Expiration: </strong><%= @order.cc_exp %></li>
    </ul>
  </div>
</div>

<div class="card-deck">
  <div class="card details" style="width: 18rem;">
    <h2 class='subtitle3'>Product Details</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <% item_set.each do |order_item| %>
        <tr>
          <td><%= order_item.product.name %></td>
          <td><%= "Quantity: #{order_item.quantity}" %></td>
          <td><%= "Price: #{order_item.product.price}" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

