<% if @order.errors.any? %>
  <ul class="errors">
    <% @order.errors.each do |column, message| %>
      <div class="alert alert-danger" role="alert">
        <%= "Order #{column} #{message}. Please enter a valid #{column}." %>
      </div>
    <% end %>
  </ul>
<% end %>

<h1 class='title'> Review Your Order </h2>
<%# TODO JW to refactor the calculations into a model, consider if session hash can be converted to OrderItem here %>
<%# TODO LH Says: COOL!  I'd love to put the total at the top really big and loud but NBD if it doesn't happen soon or ever! %>

<div class='container-md'>
  <h2 class='subtitle3'><i class="fas fa-shopping-cart"></i> Items in Your Cart</h3>
    <% total = 0 %>
    <% session[:shopping_cart].each do |product_id, quantity| %>
      <% product = Product.find_by(id: product_id) %>
      <% subtotal = quantity * product.price %>
      <% total += subtotal %>

      <div class="card card-order">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= "Quantity: #{quantity}" %></p>
          <%= button_to " + Add Quantity", add_to_cart_path(product.id), method: :patch, class: "btn btn-light inline" %>
          <%= button_to " - Decrease Quantity", remove_from_cart_path(product.id), method: :patch, class: "btn btn-light inline" %>
        </div>
        <h5 class="card-header text-right"><%= "Subtotal for this product: $#{subtotal}" %></h5>
      </div>
    <% end %>
</div>

<div class=container-sm>
  <h1 class='subtitle2 text-right'><%= "Your Order Total: $#{total}"%></h1>
</div>

<hr/>

<%# TODO: We talked about making a different page for this form - maybe, maybe not %>
<div class="container-sm customer-info">
  <h3 class='subtitle3'>Please enter your billing & shipping information:</h3>
  <h4 class='subtitle4 text-muted'>(But remember this is a student project, so please don't give us your real info... <i class="fas fa-laugh-wink"></i>) </h4>

  <%= form_with model: @order, class: 'user-form' do |f| %>
   
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :buyer_name, class: "form-control-lg", placeholder: "Name on Credit Card"%>
    </div>
    <div class="form-group">
      <%= f.label :mail_address %><br>
      <%= f.text_field :mail_address, class: "form-control-lg", placeholder: "Mailing Address"%>
    </div>
    <div class="form-group">
      <%= f.label :zip_code %><br>
      <%= f.text_field :zip_code, class: "form-control-lg", placeholder: "Billing Zip Code" %>
    </div>
    <div class="form-group">
      <%= f.label :email_address %><br>
      <%= f.text_field :email_address, class: "form-control-lg", placeholder: "Email Address"%>
    </div>
    <div class="form-group">
      <%= f.label :Credit_Card_Number %><br>
      <%= f.text_field :cc_num, class: "form-control-lg", placeholder: "Credit Card Number"%>
    </div>
    <div class="form-group">
      <%= f.label :Credit_Card_Expiration %><br>
      <%= f.text_field :cc_exp, class: "form-control-lg", placeholder: "Credit Card Expiration"%>
    </div>
    <div class="form-group">
      <%= f.label :Credit_Card_CVV %><br>
      <%= f.text_field :cc_cvv, class: "form-control-lg", placeholder: "Credit Card CVV (security code)"%>
    </div>

    <%= f.submit action_name == "New" ? "Place Order" : "Update Order" , class: "order-button" %>
  <% end %>
</div>