<% if @order.errors.any? %>
  <ul class="errors">
    <% @order.errors.each do |column, message| %>
      <div class="alert alert-danger" role="alert">
        <%= "Order #{column} #{message}. Please enter a valid #{column}." %>
      </div>
    <% end %>
  </ul>
<% end %>

<h2 class='title'><%= "#{action_name}" %> Order</h2>
<%# TODO Leah will make these into cards - the horizontal ones or something like that %>
<%# TODO JW to refactor the calculations into a model, consider if session hash can be converted to OrderItem here %>

<div class="container-sm">
  <h3><i class="fas fa-shopping-cart"></i> Items in Your Cart</h3>
    <% total = 0 %>
    <% session[:shopping_cart].each do |product_id, quantity| %>
      <% product = Product.find_by(id: product_id) %>
      <% subtotal = quantity * product.price %>
      <% total += subtotal %>

      <%= product.name %><br>
      <%= product.description %>
      <%= "Price: #{product.price}" %><br>
      <%= "Quantity: #{quantity}" %><br>
      <%= "Subtotal: #{subtotal}" %><br>

      <%# JW - Made a +/- sign instead %>
      <%= button_to " - ", remove_from_cart_path(product.id), method: :patch, class: "btn btn-info" %><br>
      <%= button_to " + ", add_to_cart_path(product.id), method: :patch, class: "btn btn-info" %><br>
    <% end %>
</div>
<%#TODO Leah will get at this total and put it somewhere meaningful :)%>
<div>
  <%= "Total: #{total}"%>
</div>


<div class="container-sm">
  <h3>Please enter your information:</h3>

  <%= form_with model: @order, class: 'user-form' do |f| %>
   
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :buyer_name, class: "form-control-lg", placeholder: "Name on Credit Card"%>
    </div>
    <div class="form-group">
      <%= f.label :mail_address %><br>
      <%= f.text_field :mail_address, class: "form-control-lg", placeholder: "Mailing Address"%>
    </div>
    <div class="form-group">
      <%= f.label :zip_code %><br>
      <%= f.text_field :zip_code, class: "form-control-lg", placeholder: "Billing Zip Code" %>
    </div>
    <div class="form-group">
      <%= f.label :email_address %><br>
      <%= f.text_field :email_address, class: "form-control-lg", placeholder: "Email Address"%>
    </div>
    <div class="form-group">
      <%= f.label :Credit_Card_Number %><br>
      <%= f.text_field :cc_num, class: "form-control-lg", placeholder: "Credit Card Number"%>
    </div>
    <div class="form-group">
      <%= f.label :Credit_Card_Expiration %><br>
      <%= f.text_field :cc_exp, class: "form-control-lg", placeholder: "Credit Card Expiration"%>
    </div>
    <div class="form-group">
      <%= f.label :Credit_Card_CVV %><br>
      <%= f.text_field :cc_cvv, class: "form-control-lg", placeholder: "Credit Card CVV (security code)"%>
    </div>

    <%= f.submit action_name == "New" ? "Place Order" : "Update Order" , class: "order-button" %>
  <% end %>
</div>