<h1 class='title'>Welcome to your Merchant Dashboard, <%= @merchant.name %>!</h1>

<div class="jumbotron">
  <h1 class="display-4">The Nitty Gritty</h1>
  <p class="lead">Here are some details about your current earnings and orders.</p>
  <hr class="my-4">
  
  <%# TODO - replace the 100 placeholders with actual amounts %>
  <div class='card-deck'>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
          <h5 class="card-title">Total Revenue</h5>
          <p class="card-text">Total Overall Revenue: <%= sprintf("$%2.2f", 100)%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Pending: <%= sprintf("$%2.2f", 100)%></li>
        <li class="list-group-item">Paid: <%= sprintf("$%2.2f", 100)%></li>
        <li class="list-group-item">Complete: <%= sprintf("$%2.2f", 100)%></li>
        <li class="list-group-item">Cancelled: <%= sprintf("$%2.2f", 100)%></li>
      </ul>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
          <h5 class="card-title">Total Orders</h5>
          <p class="card-text">Total Overall Orders: ###</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Pending: ###</li>
        <li class="list-group-item">Paid: ###</li>
        <li class="list-group-item">Complete: ###</li>
        <li class="list-group-item">Cancelled: ###</li>
      </ul>
    </div>

  </div> <%# end deck %>
  <div class='btn-container'>
    <%= link_to "Go To My Store", merchant_path(@merchant.id), class: "btn btn-info" %>
    <%= link_to "Add New Product", new_product_path, class: "btn btn-info" %>
    <%= link_to "Add New Category", new_category_path, class: "btn btn-info" %>
  </div>
  
</div> <%# end jumbotron%>


<div class="jumbotron">
<h3 class='subtitle'>Current Orders</h3>
<%= render partial: "shared/order", locals: { order_set: @merchant_orders } %>


<div class="jumbotron">
<h2 class='subtitle'>Current Products For Sale</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Retire</th>
      </tr>
    <thead>

    <tbody>
      <% @merchant.products.each do |product| %>
        <tr class="clickable-tr" >
          <td><%= link_to product_path(product.id) do%><%= product.name %><%end%></td>
          <td><%= product.description %></td>
          <td><%= sprintf("$%2.2f", product.price) %></td>
          <td><%= product.stock %></td>
          <td><%= image_tag(product.photo_url, :size => "260x180") %></td>
          <td>
            <%= link_to "Edit", edit_product_path(product.id), method: :get, class: "btn btn-info" %>
            </td>
            <%# TODO - put in retire product path after Hala has made it %>
            <td><%= link_to "Retire", product_path(product.id), method: :destroy, class: "btn btn-info" %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
