<h1>Welcome to your Dashboard, <%= @merchant.name %>!</h1>

<h2>My Products</h2>

<div class="btn btn-info">
  <%= link_to "Create New Product", new_product_path, :class => "btn" %>
</div> </td>

<div class="container-lg">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Image</th>
        <th>Edit</th>
      </tr>
    <thead>

    <tbody>
      <% @merchant.products.each do |product| %>
        <tr class="clickable-tr" >
          <td><%= link_to product_path(product.id) do%><%= product.name %><%end%></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.stock %></td>
          <td><%= image_tag(product.photo_url, :size => "260x180") %></td>
          <td>
            <div class="btn btn-info">
              <%= link_to "Edit", edit_product_path(product.id), method: :get, :class => "btn" %>
            </div> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
  

<h2>My Order Fullfillment</h2>

<h3>By the Numbers</h3>

<div class="container-lg">

  <h4>Total Revenue: $$$$</h4>
  <h4>Total Revenue by Status:</h4>
  <p>Pending: $$$</p>
  <p>Paid: $$$</p>
  <p>Complete: $$$</p>
  <p>Cancelled: $$$</p>

  <h4>Total Number of Orders by Status:</h4>
  <p>Pending: ###</p>
  <p>Paid: ###</p>
  <p>Complete: ###</p>
  <p>Cancelled: ###</p>

  <p>
</div>

<h3>Orders</h3>

<div class="container-lg">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Buyer</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quanitity</th>
        <th>Order Date</th>
        <th>Status</th>
        <th>Edit</th>
      </tr>
    <thead>

    <tbody>
      <% Order.all.each do |order| %>
        <% order.order_items.each do |order_item| %>
          <tr class="clickable-tr" data-path="<%= order_path(order.id)%>" >
            <% if order_item.product.merchant.id == @merchant.id %>
              <td><%= order.id %></td>
              <td><%= order.buyer_name %></td>
              <td><%= order_item.product.name %></td>
              <td><%= order_item.product.price %></td>
              <td><%= order_item.quantity %></td>
              <td><%= order.created_at %></td>
              <td><%= order.status %></td>
              <td>
                <div class="btn btn-info">
                  <%= link_to "Edit Status", root_path, :class => "btn" %>
                </div> </td>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>