<%# DISPLAYS ALL PRODUCTS, REGARDLESS OF MERCHANT%>
<%= session[:shopping_cart]%>

<div class='card-deck'>
    <% @products.each do |product| %>
        <div class="card">
        <div class=".card-img-top-container">
            <%= image_tag(product.photo_url, class: "card-img-top") %> </div>
            <div class="card-body">
                <h4 class="card-title"><%= link_to product.name, product_path(product.id) %></h4>
                <p class="card-text"><%= product.description %></p>
                <p class='card-text'>Price: $<%= product.price %></p>
                <p class='card-text'>In Stock: <%= product.stock %></p>
                <%#TODO: Add cart link here%> 
                <%= button_to "Add to Cart", add_to_cart_path(product.id), method: :patch, class: "btn btn-info" %>
                <a href="#!" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    <% end %>
</div>