<div class='card horiz' style="max-width: 1000px;">
  <div class='row no-gutters'>
  
  <div class='col-sm-5' style="background: #868e96;">
  <%= image_tag(@product.photo_url, class: "card-img-top h-100") %>
  </div>
    <div class="col-sm-7">
      <div class="card-body">
        <h2 class="card-title"><%=@product.name%></h5>
          <p class="card-text"><%=@product.description%></p>
          <p class="card-text">Price: $<%=@product.price%></p>
          <p class="card-text">In Stock: <%=@product.stock%></p>
          <p class="card-text">Sold by: <%=@product.merchant.name%> (Merchant ID: <%=@product.merchant.id%>)</p>
          <%#TODO: Add cart link here%>
          <%= link_to "Add to Cart", root_path, class: "btn btn-primary " %>
          
          <% if session[:merchant_id]%>
          <%= link_to "Edit this Product", edit_product_path(@product.id), class: "btn btn-primary " %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<%#TODO: Add reviews for individual product here%>
<div class='reviews'>
<h1>Reviews Placeholder!</h1>
</div>

<%#TODO: Consider adding other things you may be interested in buying:  by category and/or merchant %>
<div class='reviews'>
<h1>Other Products You May Regret Buying Placeholder</h1>
</div>

