<h1>Product Details: Product <%= @product.id %></h1>

<div class="container-sm">
  <h2>Product Detail</h2>
  <%= "Product Name: #{@product.name}" %><br>
  <%= "Sold By: #{@product.merchant.name} (Merchant ID: #{@product.merchant.id})" %><br>
  <%= "Description: #{@product.description}" %><br>
  <%= "Price: $#{@product.price}" %><br>
  <%= "Stock: #{@product.stock}" %><br>
  <%= "Photo:" %><br>
  <%= image_tag(@product.photo_url) %>
</div>

<%= button_to "Add to Cart", products_path, method: :get %><br>

<% if session[:merchant_id] == @product.merchant.id %>
  <div class="btn btn-info">
    <%= link_to "Edit", edit_product_path(@product.id), method: :get, :class => "btn" %>
  </div>
<% end %>