<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a href="#" class="navbar-brand">REGRETSY</a>
      <ul class="navbar-nav">
        <li class='navbar-item'><a class='nav-link-'>PRODUCTS</a></li>
        <li class='navbar-item'><a class='nav-link-'>SELLER LOGIN</a></li>
      </ul>
    </nav>
    <%= yield %>

    
  
    <footer class="navbar navbar-light bg-light">
      <ul class='navbar-nav'>
        <li class='navbar-item'>Home</li>
        <li class='navbar-item'>Login</li>
      </ul>

      <ul class='navbar-nav'>
        <li class='navbar-item'>The regrEtsy Team</li>
        <li class='navbar-item'>Hala</li>
        <li class='navbar-item'>Hannah</li>
        <li class='navbar-item'>Jocelyn</li>
        <li class='navbar-item'>Leah</li>
      </ul>
    </footer>
  </div>
  </body>
</html>
