<!DOCTYPE html>
<html>

<head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Roboto&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/c6d0da2fbf.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to root_path do%><li class="navbar-brand"><h1>regrEtsy</h1></li><%end%>
      <span class="navbar-text">Does anyone even want this stuff??</span>

      <ul class="navbar-nav">
        <li class='nav-item'><%= link_to products_path, class: "nav-link" do %><i class="far fa-meh"></i> ALL PRODUCTS</li><%end%>
        
        <%#TODO: Could refactor dropdowns into partiala since they're doing the same damn thing - I gotta fix the postion also %>
        <div class='dropdown'>
          <li class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-boxes"></i> SHOP BY CATEGORY</li>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% @categories.each do |category| %>
              <%= link_to "#{category.category}", category_path(category.id), class: "dropdown-item" %>
            <% end %>
          </div>
        </div>

        <div class='dropdown'>
          <li class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-users"></i> SHOP BY MERCHANT</li>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% @merchants.each do |merchant| %>
              <%= link_to "#{merchant.name}", merchant_path(merchant.id), class: "dropdown-item" %>
            <% end %>
          </div>
        </div>

        <% if session[:merchant_id].nil? %>
          <li class='nav-item'><%= link_to github_login_path, class: "nav-link" do %> <i class="fas fa-sign-in-alt"></i> MERCHANT LOGIN</li><%end%>
        <% else %>
        <li class='nav-item'><%= link_to dashboard_path, class: "nav-link" do %><i class="fas fa-icons"></i> MY DASHBOARD</li><%end%>
          <li class='nav-item'><%= link_to logout_path, method: :post, class: "nav-link" do %><i class="fas fa-sign-out-alt"></i> MERCHANT LOGOUT</li><%end%>
        <% end %>
          <li class='nav-item'><%= link_to new_order_path, class: "nav-link" do %><i class="fas fa-shopping-cart"></i> CART 
          <% if cart_num_items > 0 %><%= cart_num_items %><%end%> </li><%end%>
      </ul>
    </nav>
    <%= yield %>

    
    <footer class="page-footer font-small blue pt-4"> 
      <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <h5 class="text-uppercase">regrEtsy</h5>
            <p>A website filled with things you might regret buying!  Others certainly do!</p>
          </div>
          <!-- Grid column -->
          <hr class="clearfix w-100 d-md-none pb-3">
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">About</h5>

            <ul class="list-inline">
            <li class="list-inline-item">
            <%# TODO: Make a modal with linkedin or bios %>
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">
                <a href="https://powertofly.com/">Careers</a> 
              </li>
              <li class="list-inline-item">
                <a href="https://adadevelopersacademy.org/donate/">Investors</a>
              </li>
              <li class="list-inline-item">
                <a href="https://adadevelopersacademy.org/wp-content/uploads/2019/12/Ada_annualreport_FY2019_web-1.pdf">Impact</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Meet the Team</h5>

            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="https://halahaddad1.github.io/">Hala</a>
              </li>
              <li class="list-inline-item">
                <a href="https://gist.github.com/stpatrickschild/3e97b2500813047a56e7a8b22746692c">Hannah</a>
              </li>
              <li class="list-inline-item">
                <a href="https://gist.github.com/wangjoc/b169305cce842d35aff19f1e3ddf4fab">Jocelyn</a>
              </li>
              <li class="list-inline-item">
                <a href="https://gist.github.com/leahwho/a8020d9fe1c0d38f370ddfb595973b23">Leah</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->
    </footer>
  </body>
</html>
