<!DOCTYPE html>
<html>

<head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>

    <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c6d0da2fbf.js" crossorigin="anonymous"></script>

</head>

<body>
    <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %>" role="alert">
        <%= message.html_safe %>
    </div>
    <% end %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to root_path do %><li class="navbar-brand">
            <h1>regrEtsy</h1>
        </li><% end %>
        <span class="navbar-text">Does anyone even want this stuff??</span>


        <%= form_tag search_path, :method => "get" do %>
        <%= label_tag(:search, "What Regret would you like to find?") %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag("Search", :name => nil) %>
        <%end%>

        <ul class="navbar-nav">
            <li class='nav-item'><%= link_to products_path, class: "nav-link" do %><i class="far fa-meh"></i> ALL PRODUCTS</li><% end %>

            <div class='dropdown'>
                <li class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-boxes"></i> SHOP BY CATEGORY</li>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <% @categories.each do |category| %>
                    <%= link_to "#{category.category}", category_path(category.id), class: "dropdown-item" %>
                    <% end %>
                </div>
            </div>

            <div class='dropdown'>
                <li class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-users"></i> SHOP BY MERCHANT</li>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <% @merchants.each do |merchant| %>
                    <%= link_to "#{merchant.name}", merchant_path(merchant.id), class: "dropdown-item" %>
                    <% end %>
                </div>
            </div>

            <% if session[:merchant_id].nil? %>
            <li class='nav-item'><%= link_to github_login_path, class: "nav-link" do %> <i class="fas fa-sign-in-alt"></i> MERCHANT LOGIN</li><% end %>
            <% else %>
            <li class='nav-item'><%= link_to dashboard_path, class: "nav-link" do %><i class="fas fa-icons"></i> MY DASHBOARD</li><% end %>
            <li class='nav-item'><%= link_to logout_path, method: :post, class: "nav-link" do %><i class="fas fa-sign-out-alt"></i> MERCHANT LOGOUT</li><% end %>
            <% end %>
            <li class='nav-item'><%= link_to new_order_path, class: "nav-link" do %><i class="fas fa-shopping-cart"></i> CART
                <% if cart_num_items > 0 %><%= cart_num_items %><% end %> </li><% end %>
        </ul>
    </nav>

    <div class='page-container'>
        <%= yield %>
    </div>

    <footer class="page-footer font-small bg-light pt-4">
        <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">
                    <!-- Content -->
                    <h5 class="text-uppercase">regrEtsy</h5>
                    <p>A website filled with things you might regret buying! Others certainly do!</p>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5 class="text-uppercase">About</h5>

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <% # Button trigger modal %>
                            <a type='button' class='link' data-toggle='modal' data-target='#contactModal'>Contact</a>
                            <% # Modal %>
                            <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="contactModalLabel">Get In Touch!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <div class='modal-contain'>
                                                <%= image_tag("https://i.imgur.com/nsDhBIl.png", class: "avatar hala", alt: "Hala") %>
                                                <h2 class='hala'><a href="https://halahaddad1.github.io/">Hala</a></h2>
                                            </div>

                                            <div class='modal-contain'>
                                                <%= image_tag("https://i.imgur.com/bA2ILG6.png", class: "avatar hannah", alt: "Hannah") %>
                                                <h2 class='hannah'><a href="https://gist.github.com/stpatrickschild/3e97b2500813047a56e7a8b22746692c">Hannah</a></h2>
                                            </div>

                                            <div class='modal-contain'>
                                                <%= image_tag("https://i.imgur.com/qgP9ckr.png", class: "avatar jocelyn", alt: "Jocelyn") %>
                                                <h2 class='jocelyn'><a href="https://gist.github.com/wangjoc/b169305cce842d35aff19f1e3ddf4fab">Jocelyn</a></h2>
                                            </div>

                                            <div class='modal-contain'>
                                                <%= image_tag("https://i.imgur.com/ZFSQV13.jpg", class: "avatar leah", alt: "Leah") %>
                                                <h2 class='leah'><a href="https://www.linkedin.com/in/leahwhughes/">Leah</a></h2>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://powertofly.com/">Careers</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://adadevelopersacademy.org/donate/">Investors</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://adadevelopersacademy.org/wp-content/uploads/2019/12/Ada_annualreport_FY2019_web-1.pdf">Impact</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5 class="text-uppercase">Meet the Team</h5>

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://gist.github.com/halahaddad1/d95363b3e1856a451301ce32c002bd50">Hala</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://gist.github.com/stpatrickschild/1dc828f8857f0be6348985dbf20cde9c">Hannah</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://gist.github.com/wangjoc/6b43e9cfe06dd887768cfb351d5b78da">Jocelyn</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://gist.github.com/leahwho/adfe8e05b4ca7c528990db7ba5912c17">Leah</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
    </footer>

</html>