<!DOCTYPE html>
<html>

<head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Roboto&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= link_to root_path do%><li class="navbar-brand"><h1>regrEtsy</h1></li><%end%>

      <ul class="navbar-nav">
        <%= link_to products_path do%><li>PRODUCTS</li><%end%>

        <% if session[:merchant_id].nil? %>
          <%= link_to github_login_path do%><li>MERCHANT LOGIN</li><%end%> 
        <% else %>
          <%= link_to logout_path, method: :post do%><li>MERCHANT LOGOUT</li><%end%> 
          <%= link_to dashboard_path, method: :get do%><li>MERCHANT DASHBOARD</li><%end%> 
         
        <% end %>

        <%= link_to new_order_path do%><li>CART ICON HEREEEE</li><%end%>
      </ul>
    </nav>
    <%= yield %>

    
    <footer class="page-footer font-small blue pt-4"> 
      <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <h5 class="text-uppercase">regrEtsy</h5>
            <p>A website filled with things you might regret buying!  Others certainly do!</p>
          </div>
          <!-- Grid column -->
          <hr class="clearfix w-100 d-md-none pb-3">
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">About</h5>

            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#!">Careers</a>
              </li>
              <li class="list-inline-item">
                <a href="#!">Contact Us</a>
              </li>
              <li class="list-inline-item">
                <a href="#!">Investors</a>
              </li>
              <li class="list-inline-item">
                <a href="#!">Impact</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Meet the Team</h5>

            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#!">Hala</a>
              </li>
              <li class="list-inline-item">
                <a href="#!">Hannah</a>
              </li>
              <li class="list-inline-item">
                <a href="#!">Jocelyn</a>
              </li>
              <li class="list-inline-item">
                <a href="#!">Leah</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->
    </footer>
  </body>
</html>
